.App {
  text-align: center;
}

.feat{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .feat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .feat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .feat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
  }
}